<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1072797071139-ucask61gueb86u6citd1sf02a1pu5urg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072797071139-ucask61gueb86u6citd1sf02a1pu5urg</string>
	<key>API_KEY</key>
	<string>AIzaSyD-vJCV33u5TEvsRTHujBJwKO5SfseItec</string>
	<key>GCM_SENDER_ID</key>
	<string>1072797071139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.buildit.totem</string>
	<key>PROJECT_ID</key>
	<string>totem-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>totem-backend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072797071139:ios:8bce7825a1399ddd</string>
	<key>DATABASE_URL</key>
	<string>https://totem-backend.firebaseio.com</string>
</dict>
</plist>
